[**10x-devs**](../../README.md)

***

[10x-devs](../../modules.md) / [prisma](../README.md) / Verification

# Type Alias: Verification

> **Verification** = `$Result.DefaultSelection`\<[`$VerificationPayload`](../namespaces/Prisma/type-aliases/$VerificationPayload.md)\>

Defined in: prisma-main/types/index.d.ts:35

Model Verification
